<%- include('./partials/header.ejs'); -%>
    <div class="container" >       
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" >
                <h1 class="d-flex justify-content-center">Forget PasswordS</h1>
                <br>
                <form action="" method="post">
                    <input type="text" placeholder="Enter Email Address" name="email" class="form-control" /><br>
                    <input type="submit" class="btn btn-md btn-danger" value="Send Email" style="width: 100%;" />
                </form>
                <br>
                
            </div>
            <div class="col-4">
                
            </div>
        </div>

    </div>

   <%- include('./partials/footer.ejs'); -%>